.lgmd{
  :host{

    #body{
      padding:20px var(--pad-mid);
    }
  }
}


.mobile-view{
  :host{

    #body{
      padding:20px var(--mobile-pad);
      &>div{
        padding:30px 8%;
      }
      #header{
        width:100%;
        display: block;
        border-right:0;
        min-height: 50vh;
        ion-select{
          width: 100%;
          height: 53px;
          margin-top: 15px;
          /* padding: 21px 29px 29px 31px; */
          border-radius: 5px;
          border: solid 2px #b7b7b6;
          background-color: #fff;
        }
      }
      #jobs{
        width:100%;
        display: block;
        padding:30px 0;

        .container{
          .roletitle{
            padding:8px;
          }
          .expander{
            .hdr{
              b{
                padding:8px;
                width: 90%;
              }
            }
            .content{
              &.expanded{
                max-height: 1500px;
              }
              span{
                display: block;
                width: 100%;
                //padding:28px 8px 0;
                height: auto;
                padding-bottom:   5px;

                &.qual{
                  padding:28px 20px 5px 30px;
                }
              }
            }  
          }
        }
      }
    }
  }
}

:host{
  section#body{
    padding:50px var(--pad-thai);
    min-height: 100vh;
    position:relative;
    margin:0;
    display:block;
    //padding:0 var(--pad-thai);
    //background-color:#f3f1f1;
    background-color:#fff;
    /*&>div{
      background-color:#fff;
    }*/

    &>div{
      padding:30px 6%;
      display: inline-block;
      vertical-align: text-top;
      min-height:calc(100vh - 180px);
      white-space: nowrap;
      //box-shadow: 0 0 1px 1px var(--ion-color-primary);
    }

    div#header{
      width:40%;
      border-right: 2px solid #55545423;

      div.texts{
        position: relative;
        white-space: normal;
        img{
          position: absolute;
          top:-38.5px;
          left:-38.5px;
          height: 77px;
          width: 77px;

        }
        b{
          font-size: 17px;
          color:var(--ion-color-primary);
          display: block;
          margin:0;
          padding:0;
        }
        h2{
          font-size: 39px;
          font-weight: bolder;
          margin:10px 0 20px;
          display: block;
        }
        p{
          margin:0 0 30px;
          display: block;
          font-size: 17px;
        }
      }

      &>span{
        font-size: 13px;
        color:#717070;
        display: block;
        margin-top:55px;
        text-transform: uppercase;
      }
      ul{
        padding:0;
        display: block;
        li{
          display: block;
          font-size: 18px;
          line-height: 35px;
          a{
            color:#000;
            cursor: pointer;
            &:hover{
              color:var(--ion-color-primary);
            }
            &.selected{
              color:var(--ion-color-primary);              
            }
          }
        }
      }
    }//end of header

    #jobs{
      width: 60%;
      .container{
        white-space: normal;
        display: block;

        p.roletitle{
          width: 100%;
          height: 50px;
          border-radius: 5px;
          border: solid 2px #e1e1e1;
          background-color: var(--ion-color-primary);
          white-space: nowrap;
          position: relative;
          cursor: pointer;
          color:#fff;
          text-transform: uppercase;
          font-size: 18px;
          padding: 8px 30px;
          margin-top:35px;
          margin-bottom:5px;
          text-align: center;
          b{
            display: inline-block;
            vertical-align: middle;
          }
          &:after{
            content:"";
            display: inline-block;
            vertical-align: middle;
          }
          &:first-of-type{
            margin-top:0;
          }
        }

        .expander{
          .hdr{
            width: 100%;
            height: 50px;
            border-radius: 5px;
            border: solid 2px #e1e1e1;
            background-color: #fff;
            white-space: nowrap;
            position: relative;
            cursor: pointer;
            &:hover{
              border-color: var(--ion-color-primary);
            }
            b{
              font-size: 18px;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.94;
              letter-spacing: normal;
              text-align: left;
              display: inline-block;
              padding: 5px 30px;
              vertical-align: middle;
              width: 95%;
            }
            span{
              display: inline-block;
              vertical-align: middle;
              text-align: right;
              ul{
                padding-left: 0;
              }
              ion-icon{
                font-size: 24px;
                color:#888;
              }
            }
          }//end hdr
          .content{
            //white-space: nowrap;
            background-color: #f1efef24;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            margin-bottom: 11px;
            max-height: 0;
              transition: max-height 0.5s ease-out;
              border-bottom-right-radius: 8px;
              border-bottom-left-radius: 8px;
            //transform: scale(0);
            //transform-origin: top center;
            overflow:hidden;
            display: block;
            line-height: 25px;
            //padding-bottom: 20px;
            //height: 0;

            &.expanded{
              transition: max-height 0.5s ease-in;
               max-height: 1000px;
              border:solid 2px #e1e1e1;
              //transform: scale(1);
              //height: auto;
            }

            span{
              padding:28px 20px 28px 30px;
              &.qual{
                padding:28px 30px 28px 20px;
              }
              p{
                margin-top:0;
                font-size:19px;
                font-weight: bolder;
              }
              font-size: 13px;
              display: inline-block;
              vertical-align: text-top;
              white-space: normal;
              width: 50%;
              //height: 450px;
              ul{
                padding:0;
              }
            }
            a{
              text-decoration: none;
            }
            ion-button{
              display: block;
              width: 150px;
              margin:20px auto;
            }
          }
        }//end expander
      }//end container
    }//end of jobs

  }

  .camps{
    display: none;
  }

  ion-button{
    background:var(--ion-color-primary);
    --ripple-color: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
    color:#fff;
    border-radius: 4px;
    &:hover{
      --background:#fff;
      color:var(--ion-color-primary);
      box-shadow: 0 0 2px 2px var(--ion-color-primary);
    }
  }
}