<ion-content [fullscreen]="true" [scrollEvents]="true" (window:resize)="onresize($event)">
<app-header #header></app-header>
<section id="body">
  <div id="header">
    <div class="texts">
      <img src="./assets/img/ellipse-broken-lines.png"/>
      <b>OPPORTUNITIES</b>
      <h2>Small teams,<br/>
      global mission</h2>
      <p>{{jobSpiels?.career_sub}}</p>
    </div>
    <span>Select Location</span>
    <ul *ngIf="!isMobile">
      <li *ngFor="let l of locations; let i = index;">
        <a (click)="showJobs(l?.id)" [ngClass]="{'selected':l.id == loc}">{{l?.title}}</a>
      </li>
    </ul>
    <!-- <ion-label>Select Location</ion-label> -->
    <ion-select interface="action-sheet" *ngIf="isMobile" placeholder="Locations" (ionChange)="showJobsE($event.target)" [(ngModel)]="loc" [selectedText]="locB[loc]?.title">
      <ion-select-option *ngFor="let l of locations; let i = index;" value="{{l?.id}}">{{l?.title}}</ion-select-option>
    </ion-select>
  </div>
  <div id="jobs" #jobs>
    <div class="container"> 
      <p class="roletitle" *ngIf="jobList.length > 0"><b>Agent Roles</b></p>
      <div class="expander ac" *ngFor="let jl of jobList; let i = index;">
        <div class="hdr ac-header" (click)="setJo(jl?.id)">
          <b>{{jl?.title}}</b> <!--  ({{jl?.slots}}) -->
          <span><ion-icon name="chevron-down-outline" *ngIf="joInd == jl.id"></ion-icon><ion-icon name="chevron-forward-outline" *ngIf="joInd != jl.id"></ion-icon></span>
        </div>
        <div class="content ac-panel" [ngClass]="{'expanded':joInd == jl.id}">
          <span class="desc">
            <p>Job Description</p>
            <div [innerHTML]="jl?.desc"> <!-- "jl.desc.length>700 ? (jl.desc | slice:0:700)+'...':(jl.desc)" -->
            </div>
          </span>
          <span class="qual">
            <p>Qualifications</p>
            <!-- {{jl.qual.length>700 ? (jl.qual | slice:0:700)+'...':(jl.qual)}} -->
            <!-- <ul>
              <li *ngFor="let q of jl?.qual">
                {{q}}
              </li>
            </ul> -->
            <div [innerHTML]="jl?.qual">
            </div>
          </span>
          <a href="./#application-form"><ion-button>Apply</ion-button></a> <!-- (click)="apply('{{jl.link}}')" -->
        </div>
      </div>

      <p class="roletitle" *ngIf="corporateList.length > 0"><b>Corporate Openings</b></p>
      <div class="expander ac" *ngFor="let jl of corporateList; let i = index;">
        <div class="hdr ac-header" (click)="setJo(jl?.id)">
          <b>{{jl?.title}}</b> <!--  ({{jl?.slots}})-->
          <span><ion-icon name="chevron-down-outline" *ngIf="joInd == jl.id"></ion-icon><ion-icon name="chevron-forward-outline" *ngIf="joInd != jl.id"></ion-icon></span>
        </div>
        <div class="content ac-panel" [ngClass]="{'expanded':joInd == jl.id}">
          <span class="desc">
            <p>Job Description</p>
            <div [innerHTML]="jl?.desc"> <!-- "jl.desc.length>700 ? (jl.desc | slice:0:700)+'...':(jl.desc)" -->
            </div>
          </span>
          <span class="qual">
            <p>Qualifications</p>
            <!-- {{jl.qual.length>700 ? (jl.qual | slice:0:700)+'...':(jl.qual)}} -->
            <div [innerHTML]="jl?.qual">
            </div>
          </span>
          <a href="./#application-form"><ion-button>Apply</ion-button></a>
        </div>
      </div>
      
      <div *ngIf="jobList.length < 1 && corporateList.length < 1">
        <b>No jobs available for this site.</b>
      </div>
    </div>
  </div>
</section>
<div class="camps">
  <span *ngFor="let camp of campaigns; let i = index;">
    <ion-row>
      <ion-col>id: {{camp.id}}</ion-col>
      <ion-col>Title: {{camp.campaign_title}}</ion-col>
      <ion-col>Job Title: {{camp.job_title}}</ion-col>
      <ion-col>Job Type: {{camp.job_type}}</ion-col>
      <ion-col>Address: {{camp.address}}</ion-col>
      <ion-col>Salary: {{camp.salary_currency}} {{camp.salary}}</ion-col>
    </ion-row>
  </span>
</div>
</ion-content>