@keyframes growOut {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  
  80% {
    transform: scale(1.07);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#backdrop{
	display: none;
	position: fixed;
	z-index: 2;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	background-color: #282828;
	opacity: 0.44;
	&.show{
		display: block;
	}
}

.lgmd{
	:host{
		nav{
			padding:0 var(--pad-mid);
			ul{
				li{
					padding:5px 9px;
				}
			}
		}
	}
}

.mobile-view{
  :host{

    nav{
    	z-index: 4;
    	position: relative;
    	background-color:#fff;
    	padding:0;
    	&>a{
	    	padding: 0.5%;
				height: 50px;
	    	width:25%;
	    	margin:10px;
			}
    	ion-button{
    		&.longer{

	    		width: calc(75% - 70px);
    		}
    		width: 50px;
	    	display: inline-block;
	    	vertical-align: middle;
	    	text-align:right;
	    	position: relative;
	    	--box-shadow: none;
    		ion-icon{
				color:var(--ion-color-primary);
	    		font-size: 38px;
	    		margin:auto;
	    		position: absolute;
	    		top:0;
	    		right: 0;
	    	}
	    }

    	ul{
    		z-index: 3;
    		position: absolute;
    		display: none;
    		top: 100%;
    		left: 0;
    		width: 100%;
    		background-color: #fff;
    		margin: 0;
    		padding:10px 10px 25px;
    		white-space: normal;
    		border-top: 1px solid #888;
			perspective: 1000px;

    		&.show{
    			display: block;

    			@for $i from 1 through 7{
    				li:nth-child(#{$i}){
				    	animation: growOut 200ms ($i * 40ms) ease-in-out forwards;
    					transform-origin: top center;
			   		 	display: block;
    				}
    			}
    		}

    		li{
    			// visibility: hidden;
    			transform:scale(0);
			    opacity: 0;
			    display: none;
    			//opacity: 1;
    			width: 100%;
    			clear: both;
			    text-align: left;
			    padding: 10px 25px;

			    &#searchli{
			    	display: none;
			    }

    			a{    				
				    font-size: 24px;
				    padding: 5px;

    			}

    			ion-icon{
    				&.smol{
    					transform:rotateZ(-90deg);
    					color:inherit;
    				}
    			}
    		}
    	}

    }

    #searchbox{
    	right: 0;
    }

  }
}



:host{
  display: block;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 3;

	nav{
		white-space: nowrap;
		border-bottom: solid 1px #cecdcd;
		padding:0 var(--pad-thai);
    &>a{
		  margin:10px 10px 10px 0;
    	padding: 0.5%;
			height: 50px;
		  width: 15%;
    	display: inline-block;
    	vertical-align: middle;
    	img{
    		height: 100%;
    		width: 100%;
		    object-fit: contain;
		    object-position:center left;
    	}
    }

		/* img{
			height: 50px;
		    width: 15%;
		    object-fit: contain;
		    object-position:center left;
		    // padding: 7.5px 10px;
		    margin:10px 10px 10px 0;
		    display: inline-block;
		    vertical-align: middle;
		} */

		ion-button{
			display: none;
		}

		ul{
			width: calc(85% - 20px);
			white-space: nowrap;
			display: inline-block;
		    vertical-align: middle;
		    text-align: right;
		   // padding-right: 90px;
			li{
				display: inline-block;
				font-weight: bolder;
				padding:5px 15px;
				vertical-align: middle;
				cursor: pointer;

				&:hover{
					a{
						color:var(--ion-color-primary);
					}
				}

				a{
					color:inherit;
					text-decoration: none;
					display: inline-block;
					vertical-align: middle;
					ion-button{
						display: block;
					}
				}

				ion-icon{
					display: inline-block;
					vertical-align: middle;
					font-size:25px;
					color:var(--ion-color-primary, #3880ff);

					&.smol{
						color:#888;
						font-size:20px;
					}
				}
			}
		}
	}


	#searchbox{
		display: inline-block;
	    position: absolute;
	    top: 100%;
	    right: 50px;
	    z-index: 2;
	    display: none;
	    opacity: 0;
	    transform: scale(0);
	    background-color:#fff;

	    &.show{
	    	display: block;
			animation: growOut 200ms 60ms ease-in-out forwards;
    		transform-origin: top center;
	    }

	    span.container{	    	
		    display: block;
		    padding: 12px;
		    position: relative;
		    border: solid 1px #cecdcd;

		    ion-input{
		    	width: 189px;
			    height: 31px;
			    margin: 0 1px 0 0;
			    padding: 0 5px 0 13px;
			    border: solid 1px #cecdcd;
			    background-color: #ffffff;
			    position: relative;
		    }

		    a{
		    	position: absolute;
			    right: 12px;
			    bottom: 12px;
			    width: 41px;
			    height: 31px;
			    margin: 0 0 0 149px;
			    //padding: 7px 12px;
			    text-align: center;
			    background-color: var(--ion-color-primary, #3880ff);
	   			z-index: 3;
	   			cursor:pointer;

	   			&:after{
	   				content:"";
	   				display: inline-block;
	   				vertical-align: middle;	
	   			}
			    ion-icon{
			    	font-size: 22px;
   					 color: #fff;
   					 display: inline-block;
	   				vertical-align: middle;	
	   				height: 100%;
			    }
		    }
	    }
	}
}