<nav>
  <a href="./#our_story" (click)="toggleMenu(true)"><img src="./assets/img/vxi-logo.png"/></a>
  <ul #menu [ngClass] = "{'show':(showMenu && !showSearch)}">
    <li *ngIf="shows.Ourstory">
      <a href="./#our_story" (click)="toggleMenu(true)">Our Story</a>
      <!-- <a (click)="toPage('/',1)">Our Story</a> -->
    </li>
    <li *ngIf="shows.Benefits">
      <a href="./#benefits" (click)="toggleMenu(true)">Employee Benefits</a>
      <!-- <a (click)="toPage('/',2)">Employee Benefits</a> -->
    </li>
    <li *ngIf="shows.Sites">
      <a href="./#our-sites" (click)="toggleMenu(true)">Sites</a>
      <!-- <a (click)="toPage('/',3)">Sites</a> -->
    </li>
    <li *ngIf="shows.Careers">
      <!-- <a href="./careers">Careers</a> -->
      <a (click)="toPage('careers')">Careers</a>
    </li><!-- <ion-icon name="chevron-down-outline" class="smol"></ion-icon> -->
    <li *ngIf="shows.Blogs">
      <a href="./#blog" (click)="toggleMenu(true)">Blogs</a>
      <!-- <a (click)="toPage('/',4)">Blogs</a> -->
    </li>
    <li *ngIf="shows.Gallery">
      <a href="./#gallery" (click)="toggleMenu(true)">Gallery</a>
      <!-- <a (click)="toPage('/',5)">Gallery</a> -->
    </li>
    <li *ngIf="shows.Contactus">
      <a href="./#contact-us" (click)="toggleMenu(true)">Contact Us</a>
      <!-- <a (click)="toPage('/',6)">Contact Us</a> -->
    </li>
    <li id="searchli" (click)="searchSharp()"><ion-icon name="search-sharp"></ion-icon></li>
  </ul>
  <ion-button color="white" class="longer" (click)="searchSharp()"><ion-icon name="search-sharp"></ion-icon></ion-button>
  <ion-button color="white" (click)="toggleMenu()"><ion-icon name="menu"></ion-icon></ion-button>
</nav>

<div id="searchbox" [ngClass] = "{'show':(!showMenu && showSearch)}">
  <span class="container">
    <ion-input type="text" id="search" (keypress)="doSearch($event.keyCode)" placeholder="Search" (ionChange)="test($event)"></ion-input>
    <a (click)="doSearch('13')"><ion-icon name="search-sharp"></ion-icon></a>
  </span>
</div>

<div id="backdrop" [ngClass] = "{'show':showMenu}" (click)="toggleMenu(true)"></div>