<ion-header translucent>
  <ion-toolbar>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [scrollEvents]="true" (window:resize)="onresize($event)">
<!-- <app-header></app-header> -->
<section id="body">
  <h1 id="title">Terms & Conditions</h1>
  <div id="content" class="quill" [innerHTML]="text?.text"></div>
</section>
</ion-content>