<ion-header>
  <ion-button (click)="dismissModal()" *ngIf="isMobile"><ion-icon name="close">Close</ion-icon></ion-button>
  <ion-toolbar>
      <ion-button (click)="dismissModal()" class="nomobile"><ion-icon name="close">Close</ion-icon></ion-button>
    <b class="title">
      {{contents?.title}}
    </b>
    <h5>{{contents?.details}}</h5>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="content">
    <iframe *ngIf="youtube" width="420" height="315"
    [src]="data">
    </iframe> <!-- should be ngif=youtube -->

    <span *ngIf="!youtube" #content> <!--  [innerHTML]="contents?.link" -->
    </span>

    <!-- <img src="{{contents?.img}}"/> -->
  </div>

</ion-content>