.mobile-view{
	:host{

		ion-header{
			position: relative;
			&>ion-button{
				position: absolute;
				z-index: 11;
				display: inline-block;
				top:0;
				right: 0;
				--box-shadow:0;
				--background:transparent;

				
				ion-icon{
					font-size: 30px;
				}
			}
			ion-toolbar{
				b{
					padding:0;
					display:inline-block;
					width:100%;
					clear:both;
					text-align: left;
					padding:5px 0;
				}
				b.title{
					width: 100%;
					padding-left:0;
					padding-right:0;
					font-size:20px;
					display: inline-block;
				}
				h5{
					width: 100%;
					font-size:13.5px;
					margin: 0;
					/* white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden; */
				}
				ion-button{
					&.nomobile{
						opacity: 0;
						z-index: -1;
						display: none;
					}
					display: inline-block;
					float: none;
					clear: both;
					ion-icon{
						font-size:12px;
					}
				}

			}
		}
	}

}

:host{
	ion-header{
		background-size:cover;
		background-position: center;
		ion-toolbar{
			ion-button{
				float: right;
				--box-shadow:0;
			}
			--background:var(--ion-color-primary);
			color:#fff;
			padding:10px;
			b.title{
				font-size: 30px;
			}
			h5{
				padding: 0px 0 5px 20px;
				margin:5px 0 0;
				white-space: normal;
			}

			b{
				display: block;
				width: 100%;
				text-align: left;
	    		padding: 5px 0px 5px 20px;
	    		font-size: 13px;
			}
		}
	}

	ion-content{
		div#content{
			position: relative;
			padding: 20px;
			display: block;
			height: 100%;
			width: 100%;

			iframe{
				display: block;
				height: 100%;
				width: 100%;
			}

			span, div{
				height: 100%;
				width: 100%;
				display: block;
				position: relative;
				text-align: center;
			}

			img{
				display: block;
				margin:auto;
				max-height: 80vh;
			}
		}
	}
}