.mobile-view{
  :host{
    ion-header{
      ion-toolbar{
        ion-buttons{
          ion-button{
            --color:inherit;
          }
        }
      }
    }
    section#body{
      padding:0 var(--mobile-pad) 30px;
      #title{
        font-size: 30px;
      }
    }
  }
}

:host{
  ion-header{
    ion-toolbar{
      --background:var(--ion-color-primary);
      --color:#fff;

      ion-buttons{
        ion-button{
          --background:transparent;
          --color:#fff;
        }
      }
    }
  }
  section#body{
    padding:0 var(--pad-thai) 30px;
    position:relative;
    margin:0;
    display:block;
    //padding:0 var(--pad-thai);
    //background-color:#f3f1f1;
    background-color:#fff;


    #title{
      color:var(--ion-color-primary);
      text-transform: uppercase;
      font-size: 54px;
      width: 100%;
      text-align: center;
      padding:30px 0;
    }



    #content{
      font-family: inherit;
      white-space: normal;
      
      &>p{
        margin-bottom:0;
      }
    }

  }
}
