<div class="container">
  <span class="hdr">
    <ion-button (click)="dismissModal()"><ion-icon name="close">Close</ion-icon></ion-button>
  </span>
  <img [src]="src"/>
  <div class="text">
    <h1>{{title}}</h1>
    <p>{{add}}</p>
    <br/>
    <a href="{{map}}" target="_blank"><ion-icon name="location"></ion-icon><b>See map</b></a>
  </div>
</div>