:host{
	display: block;
	position: fixed;
	height:100%;
	width: 100%;
	top:0;
	left:0;

	.container{
		height: 100%;
		width: 100%;
		position: relative;
		display: block;
		margin: auto;
		white-space: nowrap;

		span.hdr{
			position: absolute;
			display: block;
			clear: both;
			z-index: 2;
			text-align: right;
			width: 100%;
			top:0;
			right: 0;
			ion-button{
				--box-shadow: none;
				--background:transparent;
				--color:var(--ion-color-primary);
			}
		}

		&:before{
			content:"";
			height: 100%;
			display: inline-block;
			vertical-align: middle;

		}
		img{
			position: relative;/* 
			 top:0;
			left:0;
			right: 0;
			bottom:0;  */
			display: inline-block;
			margin:0 3%;
			height:700px;
			width: 700px;
			max-width: 60%;
			min-width: 60%;
			max-height:90%;
			object-fit: contain;
			vertical-align: middle;
		}

		.text{
			position: relative;
			display: inline-block;
			margin:auto;
			vertical-align: middle;
			max-width: 34%;
			white-space: normal;
			padding-right:10px;
			a{
				text-decoration: none;
				*{
					display: inline-block;
					vertical-align: middle
				}
				&:hover, &:hover>*{
					text-decoration: underline;
					//color:#fcdb24;
				}
			}
		}
		
	}
}

.mobile-view :host{
	.container{
		white-space: normal;
		span.hdr{
			position: relative;
			top: initial;
			right: initial;
		}
		&:before{
			display: none;
		}
		img,.text{
			display: block;
			max-width: 95%;
			height: auto;
			margin:15px auto 0;
			max-height: 55vh;
			text-align: center;
			p{
				margin:0;
			}
		}
	}
}