<ion-header>
  <!-- <ion-button (click)="dismissModal()" *ngIf="isMobile"><ion-icon name="close">Close</ion-icon></ion-button> -->
  <ion-toolbar>
      <!-- <ion-button (click)="dismissModal()" class="nomobile"><ion-icon name="close">Close</ion-icon></ion-button> -->
    <b class="title">
      {{contents?.head}}
    </b>
    <h5>{{contents?.sub}}</h5>
    <b>{{contents?.date}}</b>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="content" [innerHTML]="contents?.text">
  </div>

</ion-content>