/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: SegoeUI;
  src: url('./assets/fonts/seguisb.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: SegoeUIB;
  src: url('./assets/fonts/segoeuib.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

.sc-ion-select-popover-h ion-list-header.sc-ion-select-popover, .sc-ion-select-popover-h ion-label.sc-ion-select-popover{
  white-space: normal !important;
}

#your-way-text{
  strong,b{
    font-family: SegoeUIB;
  }
}

#ready-to-apply{
  ion-grid div.form div ion-item ion-select{
    .select-text{      
      white-space: normal;
      overflow: visible;
      line-height: 15px;
    }
  }
}
:root{
  font-family: SegoeUI;
  --ion-font-family:SegoeUI;
ion-modal{
  --height:90%;
  --width:90%;

  .reduced{
  }

  /* quill elements */
  app-blog{
    #content{
      p{
        &.ql-align-center{
          text-align: center;
        } 
      }



    }//end #content
  }//end app-blog
  
  app-search-page{
    i{
      text-decoration: none;
      color:var(--ion-color-primary);
      font-style: normal;
    }
  }

  //app-careers{
  //}
}
      ul{
        padding-left: 0;
      }

ion-alert{
  &.success{
    .alert-wrapper{
      .alert-head{
        &:before{
          background-image:url('./assets/img/Vixie Application Success.png')
        }
      }
    }
  }
  .alert-wrapper{
    border-radius: 16px;
    .alert-head{
      &:before{
        content: "";
        display: block;
        height: 200px;
        width: 200px;
        background-image: url('./assets/img/Vixie App Failure.png');
        background-position: center;
        background-size: contain;
        margin: auto;
        background-repeat: no-repeat;    
      }
      h2.alert-title{
        color:var(--ion-color-primary);
        text-align: center;
        padding:25px 0 0;
        text-transform: uppercase;
        font-family: SegoeUIB;
      }
    }
    .alert-message{
      text-align: center;
    }
    .alert-button-group{
      padding-bottom:20px;
      button.alert-button{
        background:var(--ion-color-primary);
        color:#fff;
        border-radius: 4px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bolder;
        margin:auto;
        .alert-button-inner{
          display: inline-block;
        }
        &:hover{
          background:#fff;
          color:var(--ion-color-primary);
          box-shadow: 0 0 2px 2px var(--ion-color-primary);
        }
      }
    }  
  }
}

ion-icon {
  pointer-events: none !important;
} 

.mobile-view{

    ion-modal{
      --height:100%;
      --width:100%;
      margin:auto;
      &.reduced{
        --height:80%;
        --width:100%;
      }
    }

  --pad-thai:0px;  

}


.swiper-pagination-bullet {
    //box-shadow:0 0 4px 2px #333;
    border:0.55px solid #fff;
    &:not(.swiper-pagination-bullet-active){
      background:#ffffff;
      opacity: 0.35;
    }
}

}

#content.quill{
  p{
    margin:0;
  }
}