<ion-content [fullscreen]="true" [scrollEvents]="true" (window:resize)="onresize($event)"> <!-- (ionScroll)="onScroll($event)" -->
<app-header #header></app-header>
<section id="body">
  <div id="our_story" *ngIf="sectionAboutUs"></div>
  <div id="our-story" *ngIf="sectionAboutUs">
    <ion-grid>
      <ion-row>
        <ion-col id="speechbub" [ngClass]="{'show':speechBub}">
          <!-- <img src="./assets/vixie-2@2x.png"/> -->
          <div class="img">
            <div id="orangebubble"></div>
          </div>
        </ion-col>
        <ion-col>
          <div class="sparkle topleft"></div>
          <div class="texts">
            <h1>
              <!-- <b>Hi, I'm Vixie!</b> -->
              <!-- <p>{{ourStory?.tagline}}</p> -->
              <b>{{ourStory?.tagline}}</b>
            </h1>
            <p>
              {{ourStory?.text}}
            </p>
            <a href="#ready-to-apply"><ion-button>Join the VXI Family</ion-button></a>
          </div>
          <div class="sparkle botright"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div id="passion-for-people" *ngIf="sectionPassion">
    <div class="texts">
      <h1>Passion for People</h1>
      <div [innerHTML]="passion?.text"></div>
    </div>
  </div>


<div id="benefits" *ngIf="sectionBenefits">
  <ion-row>
    <ion-col class="head">
      <h1>
        <b>live your best life</b>
        Industry-best <br/>
        Benefits for the <br/>
        Best Employees
      </h1>
    </ion-col>
    <ion-col class="data">      
      <ul class="benefit-list">
        <li *ngFor = "let b of benefits"><img src="{{b?.img}}"/><a>{{b?.text}}<b>{{b?.subtext}}</b></a></li>
      </ul>
    </ion-col>
  </ion-row>
</div>

<div id="our-sites" *ngIf="sectionSites"></div>

<div id="your-way" *ngIf="sectionSites">
  <ion-row>
    <ion-col>
      <div class="texts">
        <h2>Your way to
          <p>{{sites[siteIndex]?.title}}</p>
        </h2>
        <h3>
          {{sites[siteIndex]?.address}}
        </h3>
        <a href="{{sites[siteIndex]?.map}}" target="_blank"><p class="orange"><ion-icon name="location"></ion-icon><b>See Map</b></p></a>
        <div id="your-way-text" class="desc" [innerHTML]="(sites[siteIndex]?.desc | slice:0:350)">
        </div>
        <p>
          Visit our Recruitment Hubs to apply or submit an application form online.
        </p>
        <p>Schedule: {{sites[siteIndex]?.business_hours}}</p>
      </div>
      <ion-button (click)="toPage('careers',siteIndex)">View Open Positions</ion-button>
    </ion-col>
    <ion-col>
      <ion-slides pager="true" [options]="slideOpts" (ionSlideWillChange)="updateSiteTitle($event)" autoplay="true" loop="true" effect="coverflow" #slider>
        <ion-slide *ngFor="let s of sites; let i = index;">
          <img src="{{s?.img}}" (click)="presentModal(s?.img, s?.title, s?.address, s?.map)"/>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
  <ion-button class="mobile" (click)="toPage('careers',siteIndex)">View Open Positions</ion-button>
</div>

<div id="careers" *ngIf="sectionJobs">
  <blockquote>
    <b>Be Home. <br/>
      Be part of our TEAM.
    </b>

    {{jobSpiels?.header}}
  </blockquote>
  <ion-row>
    <ion-col>
      <img src="./assets/img/customer-service.png"/>
      <b>Customer Service <br/>Associate</b>
      <p>{{jobSpiels?.csa_text}}</p>
    </ion-col>
    <ion-col>
      <img src="./assets/img/sales-associate.png"/>
      <b>Sales <br/>Associate</b>
      <p>{{jobSpiels?.sa_text}}</p>
    </ion-col>
    <ion-col>
      <img src="./assets/img/tech-support.png"/>
      <b>Technical Support <br/>Associate</b>
      <p>{{jobSpiels?.tsa_text}}</p>
    </ion-col>
  </ion-row>
  <ion-button (click)="toPage('careers',-1)">Explore Careers</ion-button>
</div>
  
<div id="ready-to-apply">
  <ion-grid>
    <ion-row>
      <ion-col>
        <br/>
        <br/>
        <br/>
        <h2>Ready to Apply?<br/>Join us!</h2>
        <p>If you’ve read this far, we like you already. We’re always searching for hardworking and dedicated people to work with us, so feel free to apply through any of the methods below:</p>
        <ul>
          <li>Walk in at any VXI Recruitment Hub</li>
          <li>Fill out our online application form</li>
        </ul>
      </ion-col>
      <img class="mobile" [src]="msc?.img"/>
      <ion-col>
        <div id="application-form"></div>
        <br/>
        <br/>
        <br/>
        <p class="form">
          <b>Application Form</b>
          After submitting, please expect a call from one of our recruiters for your phone interview.
        </p>
        <div class="form">
            <div style="font-size: 12px;width:100%;padding-left:18px;margin-top:-15px;"><br/><i>*</i> required fields</div>
          <div>
            <ion-item>
              <ion-label position="floating">First Name<i>*</i></ion-label>
              <ion-input (ionChange)="log($event)" (keypress)="logName($event)" type="text" required [(ngModel)]="formdata.first_name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Last Name<i>*</i></ion-label>
              <ion-input (ionChange)="log($event)" (keypress)="logName($event)" type="text" required [(ngModel)]="formdata.last_name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Contact Number<i>*</i></ion-label>
              <ion-input (ionChange)="log($event)" (keypress)="checkPattern($event)" type="text" pattern="[\d]{11}" maxlength="11" minlength="11" required [(ngModel)]="formdata.user_phone_number"></ion-input>
            </ion-item>
          </div>
          <div>
            <ion-item>
              <ion-label position="floating">VXI site applying for<i>*</i></ion-label>
              <ion-select (ionChange)="popJobs($event.target)" interface="popover" [(ngModel)]="campaignId">
                <ion-select-option *ngFor="let ss of sites; let i = index" value="{{ss?.campaign_id}}">{{ss?.title}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Position applying for<i>*</i></ion-label>
              <ion-select interface="popover" (ionChange)="logg($event.target)" *ngIf="jobsPerSite.length > 0" [(ngModel)]="formdata.others.position_applying_for">
                <ion-select-option *ngFor="let s of jobsPerSite; let i=index" value="{{s?.title}}_{{i}}">{{s?.title}}</ion-select-option>                
              </ion-select>
              <ion-input (ionChange)="log($event)" type="text" *ngIf="jobsPerSite.length < 1" [(ngModel)]="formdata.others.position_applying_for" [disabled]="campaignId.toString() == '0'"></ion-input>  <!-- [(ngModel)]="formdata.others.position" -->
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email Address<i>*</i></ion-label>
              <ion-input (ionChange)="log($event)" type="email" required [(ngModel)]="formdata.email" pattern="[^\s@]+@[^\s@]+\.[^\s@]+"></ion-input>
            </ion-item>
          </div>
          <ion-item class="hooligan">
            <ion-label position="floating">How did you learn about our job opening?</ion-label>
            <ion-select interface="popover" (ionChange)="log($event)" [(ngModel)]="formdata.others.specific_source">
              <ion-select-option *ngFor="let s of sources; let i=index" value="{{s}}">{{s}}</ion-select-option>
            </ion-select>
            <!-- <ion-input (ionChange)="log($event)" [(ngModel)]="formdata.source" type="text" ></ion-input> -->
          </ion-item>
          <ion-item class="agreement">
            <ion-checkbox (ionChange)="log($event)" [(ngModel)]="acceptedTerms" checked="false"></ion-checkbox>
            <ion-label>I have agreed to the  <a (click)="showPp()">Privacy Policy</a> and  <a (click)="showTerms()">Terms and Conditions</a>.</ion-label>
          </ion-item>
          <!-- <span>
            <ion-item class="fileUpload">
              <ion-label>Upload Resume</ion-label>
              <input type="file" accept=".doc,.docx,.pdf,.rtf,.txt" (change)="uploadFile($event)"/>
            </ion-item>
          </span> -->
          <ion-button (click)="submitCampaign()" [disabled]="(!acceptedTerms || formdata.first_name =='' || formdata.last_name == '' || formdata.user_phone_number == '' || formdata.email == '' || campaignId < 1 || !validphonenumber() || !validemail())">Submit</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <img [src]="msc?.img"/>
</div>

<div id="blog" *ngIf="sectionNews">
  <blockquote>
    <b>Latest News</b>
    <p>Be updated with the latest news from VXI Philippines</p>    
  </blockquote>

  <section class="news">
    <div class="main" *ngIf="feat.length > 0">
      <ion-card (click)="readMore(feat[featInd]?.link ?? feat[featInd]?.id)">
        <img src="{{feat[featInd]?.img}}"/>
        <ion-card-header>
          <ion-card-subtitle>FEATURED</ion-card-subtitle>
          <ion-card-title>{{feat[featInd]?.head}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{feat[featInd]?.sub}}
        </ion-card-content>
        <span class="links">
          <div>{{feat[featInd]?.date}}</div>
          <div>&nbsp;</div>
          <div><a>Read More</a></div>
        </span>
      </ion-card>
    </div>
    <div class="subs">
      <ion-card *ngFor="let c of blogs | slice:(blogPg* newsSlice):((blogPg+1) * newsSlice); let i = index" (click)="readMore(c?.link ?? c?.id)">
        <img src="{{c?.img}}"/>
        <ion-card-header>
          <ion-card-title>{{c?.head}}</ion-card-title>
        </ion-card-header>
        <span class="links">
          <div>{{c?.date}}</div>
          <div>&nbsp;</div>
          <div><a>Read More</a></div>
        </span>
      </ion-card>
    </div>
  </section>
  <div class="control">
    <ion-button (click)="nextBlogs(-1)" [ngClass]="{'disabled':(featInd <=0 && blogPg <=0)}"><ion-icon name="chevron-back-outline"></ion-icon><a>BACK</a></ion-button>
    <ion-button (click)="nextBlogs( 1)" [ngClass]="{'disabled':(featInd+1 >= feat.length) && (blogPg >= blogPages-1)}"><a>NEXT</a><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
  </div>
</div>

<div id="gallery" *ngIf="sectionGallery"></div>
<div id="gallery__" *ngIf="sectionGallery">
  <blockquote>
    <b>Gallery</b>
    <p>Browse through snapshots and videos of happenings in and around VXI Philippines</p>    
  </blockquote>
  <div class="gallery">
    <div class="gallery__design">
    </div>
    <span class="button" fill="clear" (click)="slide(-1)" [ngClass]="{'disabled':curInd<=0}"><ion-icon name="chevron-back-outline"></ion-icon></span>
    <div class="gallery__track">
      <div #gfield class="gallery__field">
        <a *ngFor="let g of gal; let i = index" (click)="showGallery(g)"> <!-- href="{{g?.link}}"  target="_blank" -->
        <div class="gallery__slide">
          <img src="{{g?.img}}"/>
          <h2>{{g?.title}}</h2>
          <p>{{g?.details}}</p>
          <span><ion-icon name="caret-forward-outline"></ion-icon></span>
        </div>
        </a>
      </div>
    </div>
    <span class="button" fill="clear" (click)="slide(1)" [ngClass]="{'disabled':(gal.length - galBuf <= curInd)}"><ion-icon name="chevron-forward-outline"></ion-icon></span>
  </div>

  <img class="wave-bottom" src="./assets/img/orange-wave-bottom.jpg"/>
</div>


<div id="contact-us" *ngIf="sectionContactUs">
  <div class="head">
    We want to hear<br/> from you!
  </div>
  <div class="contact">
    <div class="callmail">
      <span><img src="./assets/img/phone.png"><b>CONTACT US</b></span>
      <ul>
        <li>Luzon: <a href="tel:{{contacts?.num1}}" target="_blank">{{contacts?.num1}}</a></li>
        <li>Davao: <a href="tel:{{contacts?.num2}}" target="_blank">{{contacts?.num2}}</a> <a id="kenshin">/</a> <a href="tel:{{contacts?.num3}}" target="_blank">&nbsp;{{contacts?.num3}}</a></li>
        <li>Telephone: <a href="tel:{{contacts?.tel}}" target="_blank">8899-2200</a></li>
      </ul>
    </div>
    <div class="social">
      <span>SOCIAL MEDIA</span>
      <ul>
        <li><a target="_blank" href="{{contacts?.facebook}}" class="fb"><svg data-src="./assets/img/fb.svg" fill="#fff"></svg></a><a target="_blank" href="{{contacts?.instagram}}" class="insta"><svg data-src="./assets/img/ig.svg" fill="#fff"></svg></a><a target="_blank" href="{{contacts?.tiktok}}" class="tik"><svg data-src="./assets/img/tiktok.svg" fill="#fff"></svg></a></li>
        <li><a target="_blank" href="{{contacts?.youtube}}" class="yt"><svg data-src="./assets/img/youtube.svg" fill="#fff"></svg></a><a target="_blank" href="{{contacts?.linkedin}}" class="li"><svg data-src="./assets/img/linkedin.svg" fill="#fff"></svg></a><a target="_blank" href="{{contacts?.twitter}}" class="twit"><svg data-src="./assets/img/twitter.svg" fill="#fff"></svg></a></li>
      </ul> 
    </div>
    <span class="others">
      <div>  
        <span><img src="./assets/img/email.png"><b>EMAIL US AT</b></span>
        <a href="mailto:{{contacts?.email}}" target="_blank">{{contacts?.email}}</a>
      </div>
      <span class="policies">   
        <a (click)="showPp()">Privacy Policy</a>
        <!-- <a href="{{contacts?.pp}}" target="_blank">Privacy Policy</a> -->
        <a (click)="showTerms()">Terms & Conditions</a>
        <!-- <a href="{{contacts?.tc}}" target="_blank">Terms and Conditions</a> -->
      </span>
    </span>
  </div>
  <hr>
  <div class="foot">
    <img src="./assets/img/vxi-logo-white.png"/>
    <b>&copy; VXI Philippines 2021.</b>
  </div>
</div>


</section>