@keyframes growOut {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  
  80% {
    transform: scale(1.07);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.lgmd{
  :host{

    #our-story{
      padding: 20px var(--pad-mid) 50px;

    }

    #passion-for-people{
      .texts{
        padding:20px var(--pad-mid) 50px;
      }
    }

    #benefits{
      padding:50px var(--pad-mid) 50px;
    }

    #your-way{
      padding:20px var(--pad-mid) 25px;
    }

    #careers{
      padding:40px var(--pad-mid) 25px;
    }

    #ready-to-apply{
      padding:20px var(--pad-mid) 50px;
      ion-grid{
        ion-row{
          ion-col{
            &:nth-of-type(1){
              padding:30px var(--pad-mid);
            }

            ul{
              margin-left:var(--pad-mid);
            }
          }
        }
      }
    }

    #blog{
      padding:20px var(--pad-mid);
      section.news{
        div{
          &.main{
            ion-card{
              ion-card-header{
                padding:10px;
              }
              ion-card-content{
                display: none;
              }
              .links{
                div{
                  padding:10px;
                  width:50%;
                  &:nth-of-type(2){
                    display: none;
                  }
                }
              }
            }
          }
          &.subs{
            ion-card{
              ion-card-header{
                padding:10px;
              }
              .links{
                div{
                  padding:10px;
                  width:50%;
                  &:nth-of-type(2){
                    display: none;
                  }
                }
              }
            }

          }

          ion-card{
            margin:3px;
          }
        }
      }
    }


    #gallery__{
      padding:25px 50px 105px;
      .gallery{
        .gallery__track{
          max-width: 810px;
          .gallery__slide{    
            height: 375px;
            width: 270px;

            h2{
              // padding-top:25%;
              padding-top:10%;
              bottom:initial;
              top:0;
            }
            p{
              top: calc(100px + 22%);
            }
          }
        }
      }
    }

    #contact-us{
      padding:20px var(--mobile-pad);

      .contact{
        padding:0 0 45px;
      }

    }
  }
}

.mobile-view{

  &.mini{
    :host{

      #our-story{

        ion-row{
          ion-col{
            &:nth-of-type(1){
              .img{
                #orangebubble{
                  height: 50px;
                  width: 119px;
                  &:after{
                    font-size: 17px;
                    margin-top:8px;
                  }
                }
              }
            }
          }
        }
      }

      #gallery__{
        .gallery{

          span.button{
            &:nth-of-type(1){
              left:-20px;
            }
            &:nth-of-type(2){
              right: -20px;
            }
          }
        }
      }

      #contact-us{
        padding:20px var(--mobile-pad);
      .head{
        display: block;
        width: 100%;
        font-size: 36px;
        padding: 0 0 25px;
        font-weight: bolder;
        line-height: 50px;
        text-align: center;
      }
      .contact{
        padding:30px 0;
        display: block;
        width:100%;

        .others{
          &>div{
            padding-left: 0;
            // vertical-align: text-top;
          }
          .policies{
            position: relative;
            padding-left: 0;
            a{
              // margin-left: 4.5%;
              margin-right: 3px;
              // margin-top:5px;
              font-size: 14px;
              white-space: nowrap;
              text-align: right;
            }
          }
        }
        .callmail{
          padding-left:0;
          span{
          }
          ul li{
            font-size: 14px;
            white-space: normal;
            a{
              &#kenshin{
                margin:0 2px;
                &:after{
                  content:"";
                  display: block;
                }
              }
            }
          }
          &>a{
            font-size: 14px;
          }
        }

        .social{
          //text-align: right;
          &>span:not(.policies){
            //text-align: center;
            padding-right: 6px;
            width: 100%;
            display: block;
            white-space: nowrap;
              text-align: right;
          }
          ul{
            max-width: 120px;
            float: right;
            li{
                text-align: right;
              a{
                margin:3px;
                svg{
                  margin-right:7px;
                }
                &:nth-of-type(3){
                  svg{
                    margin-right: 0;
                  }
                }
              }
              &:nth-of-type(2){
                img{
                  margin-bottom: 0;
                }
              }
              white-space: nowrap;
              img{
                margin:0 4.5% 5%;
              }
            }
          }
        }
      }
        /* .contact{
          .social{
            &>span:not(.policies){
              text-align: center;
            }
            ul{
              li{
                text-align: right;
              }
            }

          }
        } */
      }
    }
  } //end of mini

  :host{

    #our_story{
      height: 30px;
    }

    #our-story{
      padding:20px var(--mobile-pad) 50px;
     background-size:450px auto;
      ion-row{
        ion-col{
          display: block;
          width: 100%;
          flex: unset;

          &:nth-of-type(1){

            /* &:before{
              content:"";
              height: 60px;
              width: 142px;
              position:absolute;
              left: calc(-1 * var(--mobile-pad));
              top:0;
              background-image:url('../../assets/img/speechbubble.png');
              background-size:cover;
            } */

            .img{
              height: auto;
              width: 100%;
              position: relative;
              max-height: 500px;
              #orangebubble{
                width:155px;
                top:30px;
                height: 65px;
              }
              &:before{
                content:"";
                display: block;
                padding-top:100%;
              }
            }
          }



          div.texts{
            h1{
              margin:0;
              b{
                display: block;
                padding:20px 0;
                // text-align:center;
              }
              p{
                font-size:22px;
              }
            }
            &>p{
              margin:10px 0 20px;
              padding-bottom: 20px;
            }

            ion-button{
              display:block;
              margin:10px auto 25px;
              //width: 175px;
            }
          }

          div.sparkle{
            top:-50px;
            left:0;
            height:50px;
            width:50px;
            &.botright{
              top:unset;
              left: unset;
              bottom:50px;
            }
          }
        }
      }


    }//end of our-story


    #passion-for-people{

      .texts{
        padding:20px var(--mobile-pad) 50px;

        h1{
          margin:20px 0;
          // text-align:left;
        }
        p{
          text-align:left;
        }
      }


    }// end of passion-for-people


    #benefits{
      padding:50px var(--mobile-pad) 50px;
      background-size: auto 125px;
      background-position: 95% bottom;

      ion-row{
        ion-col, ion-col.data{
          width:100%;

          ul.benefit-list{
            padding:0;
            li{
              display:block;
              max-width:100%;
              width:100%;
              a{
                max-width:100%;
                padding-left:20px;
              }
            }
          }
        }
      }

    }//end if benefits

    #your-way{
      padding:20px var(--mobile-pad) 25px;
      background-position: right 95%;
      background-repeat: no-repeat;
      background-size: auto 25%;
      ion-col{
        width:100%;
        &:nth-of-type(2){

        }
      }

      .texts{
        max-width:100%;

        h3{
          br{
            display:none;
          }
        }
      }

      ion-button{
        display:none;
      }

      ion-button.mobile{
        position:relative;
        margin:50px auto 0;
        display:block;
        z-index:2;
      }

      &:after{
        width:98px;
        height:142px;
        bottom:15px;
      }
    }// end of your-way


    #careers{
      margin-top:20px;
      padding: 40px var(--mobile-pad) 25px;
      blockquote{
        width:100%;
        margin-bottom:50px;
        text-align: center;
      }

      ion-row{
        ion-col{
          width:100%;
          b{
            padding-bottom:10px;
          }
          img{
            margin-bottom:15px;
          }
          padding: 0 15px 30px;
        }
      }

      &:before{
        content:"";
        top:-50px;
        width:115px;
        height:60px;
      }
    }//end of careers


    #ready-to-apply{
      margin-top:50px;
      padding-top:30px;
      background-position: top right;
      background-size: 115% auto;

      ion-grid{
        ion-row{
          ion-col{

            width:100%;
            &:nth-of-type(1){
              padding:30px var(--mobile-pad);
            }

            p.form{
              padding: 20px;
            }

            ion-label{
              font-size:12.5px;
              width: 50%;
              white-space: normal;
            } 
            div.form{
              div{
                width:100%;
              }
            }

            ul{

              margin-left: var(--mobile-pad);
            }

          }

        }
      }

      img{
        display:none;
        &.mobile{
          height:150px;
          object-fit:cover;
          width:100%;
          display:block;
          margin:50px auto;
        }
      }

    }// end of ready-to-apply

    #blog{
      padding:20px 5px 30px;
      &:after{
        bottom:0;
      }
      section.news{
        &>div{
          &.main{
            display: block;
            width:100%;
            padding:0 5px;
            ion-card{
              img{
                height:200px;
              }
            }
          }
          &.subs{
            padding-top:0;
            display: block;
            width:100%;
            ion-card{
              margin:5px 2.5px;
              width:calc(50% - 5px);
            }
          }
          ion-card{
            margin:5px 0;
            &:nth-child(n+3){
              display: none;
            }

            ion-card-header{
              padding-left:5px;
              padding-right:5px;
              ion-card-title{
                font-size: 18px;
                overflow: hidden;
                line-height: 20px;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }

            span.links{
              div{
                width:50%;
                padding:15px 2px;
                &:nth-of-type(2){
                  display: none;
                }
                &:nth-of-type(3){
                  text-align: right;
                }
              }
            }
          }
        }
      }
      ion-row{
        margin-top:20px;
      }

    }// end of blog

    #gallery__{
      padding:0 var(--mobile-pad) 105px;
      h1{
        margin:40px auto;
      }
      div.gallery{

        span.button{
          &:nth-of-type(1){
            left:0;
          }
          &:nth-of-type(2){
            right: 0;
          }
        }
        div.gallery__track{
          max-width: 270px;
          padding-left:10px;
          div.gallery__field{
            div.gallery__slide{

              &:hover{
                h2{
                  bottom:60px;
                  top:initial;
                }
              }
              // width:320px;
              // max-width: 320px;
              width: 250px;
              max-width: 250px;
              height: 390px;
              h2{
                // padding-top:25%;
                font-size: 30px;
                padding-top:10%;
                bottom:initial;
                top:0;
                padding:10% 5%;
                width: 100%;
              }
              p{
                font-size:13px;
                top: calc(100px + 22%);
                padding:0 5%;
              }
            }
          }
        }

      }
    }

    #contact-us{     
        padding:20px var(--mobile-pad);
        .head{
          padding: 30px 0 25px;
        } 
        .contact{
          padding:30px 0;
        }
      /* padding:20px var(--mobile-pad);
      .head{
        display: block;
        width: 100%;
        font-size: 36px;
        padding: 0 0 25px;
        font-weight: bolder;
        line-height: 50px;
      }
      .contact{
        padding:30px 0;
        display: block;
        width:100%;

        .others{
          &>div{
            padding-left: 0;
          }
          .policies{
            position: relative;
            a{
              margin-left: 4.5%;
              // margin-top:5px;
              font-size: 14px;
              white-space: nowrap;
            }
          }
        }
        .callmail{
          padding-left:0;
          span{
          }
          ul li{
            font-size: 14px;
            white-space: normal;
            a{
              &#kenshin{
                margin:0 2px;
                &:after{
                  content:"";
                  display: block;
                }
              }
            }
          }
          &>a{
            font-size: 14px;
          }
        }

        .social{
          //text-align: right;
          &>span:not(.policies){
            //text-align: center;
            margin-left: 4.5%;
            width: 100%;
            display: block;
            white-space: nowrap;
          }
          ul{
            li{
              a{
                margin:3px;
                &:nth-of-type(3){
                  svg{
                    margin-right: 0;
                  }
                }
              }
              &:nth-of-type(2){
                img{
                  margin-bottom: 0;
                }
              }
              white-space: nowrap;
              img{
                margin:0 4.5% 5%;
              }
            }
          }
        }
      } */
    }//end of contact-us

  }// end of :host



} //end of mobile

:host{
  section#body{
    position:relative;
    margin:0;
    display:block;
    font-family: SegoeUI;
    //padding:0 var(--pad-thai);
    //background-color:#f3f1f1;
    background-color:#fff;
    /*&>div{
      background-color:#fff;
    }*/
  }

#our_story{
  display: block;
  width: 100%;
  height: 40px;
}

#our-story{
  padding:60px var(--pad-thai);
  position: relative;
  background-image: url('../../assets/img/orange-wave@2x.png');
  background-size:50% auto;
  background-position: bottom left;
  background-repeat: no-repeat;

  ion-grid{
    padding:0;
  }

  ion-row{
    direction: rtl;
    ion-col{
      width:50%;
      padding:0;
      position: relative;

      &:nth-of-type(1){
        transition: background-image 0.3s ease-in-out;
        background-image:url('../../assets/img/vixie-2@2x.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        text-align: right;
        background-repeat:no-repeat;

        &:hover{
          background-image:url('../../assets/img/vixie-1@2x.png');
        }

        .img{
          height: 500px;
          margin:5px auto;
          // object-fit: contain;
          padding:0 0 5px;
          // svg{
          position: relative;
          max-width: 615px;

          svg{
            display: none;
          }
          // &:after{
          #orangebubble{
            &:after{
              content:"Hi, I'm Vixie!";
              color:#fff;
              text-align: center;
              width: 100%;
              display: block;
              margin-top: 15px;
              font-size: 20px;
            }
            direction: ltr;
            display: block;
            position: absolute;
            top:58px;
            left:0;
            height: 74px;
            width: 175px;
            background-image:url('../../assets/img/orangebubble.png');
            background-size:cover;
            //background-repeat:  no-repeat;  
          }
        }

        &:before{
          content: "";
          height: 52px;
          width: 310px;
          max-width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          margin: 0 auto;
          background-image: url('../../assets/img/automated-recruitment-assistant.png');
          background-size: contain;
          display: none;
          opacity: 0;
          transform: scale(0);
          transform-origin: top right;
          // background-repeat: no-repeat;
          background-position: center;
          z-index: 1;
        }

        &.show{
          &:before{
            display: block;
            animation: growOut 500ms 200ms ease-in-out forwards;
            transform-origin: top center;
          }
        }
      }

      &:nth-of-type(2){
        direction: ltr;
      }

      div.sparkle{
        background-image:url('../../assets/img/sparkle-1@2x.png');
        background-size:contain;
        background-repeat: no-repeat;
        position: absolute;
        height: 100px;
        width: 100px;

        &.botright{
          right: 15px;
          bottom: 15px;
        }
        &.topleft{
          top: 15px;
          left: -55px;
        }
      }
      div.texts{
        position: relative;
        h1{
          margin-top:110px;
          b{
            font-size:30px;
            color: var(--ion-color-primary, #3880ff);
          }
          p{
            font-size:29px;
            margin:0;
            font-weight: bolder;
          }
        }

        &>p{
          margin:25px 0 45px;
        }

        ion-button{
          font-weight: bolder;
          //width: 230px;
          //height: 54px;
          border-radius: 4px;
          //background-color: var(--ion-color-primary, #3880ff);
          text-transform: none;
          //color:#fff;
        }
      }

    }
  }
}


#passion-for-people{
  position:   relative; 
  background-color:#f3f1f1;
  padding:0 var(--pad-thai);
  .texts{
    padding:52px 0;
    h1{
      font-size: 35px;
      text-align: center;
      font-weight: bolder;
      margin:0;
    }
    p{
      font-size: 17px;
      text-align: center;
    }
    &>div{
      display: block;
      text-align: center;
      font-size: 17px;
      line-height: 25px;
      max-width: 1200px;
      margin: auto;
    }
  }

  &:after{
    content: "";
    display: block;
    position: absolute;
    bottom: -115px;
    right: 0px;
    background-image: url('../../assets/img/circle.png');
    background-size: cover;
    background-position: center left;
    height: 179px;
    width: 125px;
    transform: rotateZ(180deg);
  }
}


#benefits{
  padding:130px var(--pad-thai);
  background-image:url('../../assets/img/wave.png');
  background-position: bottom;
  background-size:102% 160px;
  background-repeat:no-repeat;
  ion-row{
    ion-col{
      &.data{
        width:66.66%;
      }
      width:33.33%;
      flex:unset;
      h1{
        font-size:39px;
        font-weight: bolder;
        b{
          font-size:17px;
          color:var(--ion-color-primary, #3880ff);
          text-transform: uppercase;
          display: block;
        }
      }


      ul.benefit-list{
        display: block;
        li{
          display: inline-block;
          padding-bottom:40px;
          padding-right:38px;
          font-size:16px;
          max-width: 50%;
          width: 50%;
          white-space: nowrap;

          img{
            max-height: 30px;
            object-fit: contain;
            display: inline-block;
            vertical-align: middle;
            width: 30px;
          }
          a{
            padding-left:20px;
            display: inline-block;
            vertical-align: middle;
            color:#333;
            max-width: 276px;
            white-space: normal;           
          }
          b{
            display: block;
            font-size:15px;
          }
        }
      }

    }
  }
}
#our-sites{
  display: block;
  width: 100%;
  height: 40px;
}

#your-way{
  padding: 120px var(--pad-thai);
  background-image: url('../../assets/img/orange-vector.png');
  background-position: right calc(100% - 120px);
  background-repeat: no-repeat;
  //background-size: 275px 245px;
  background-size: 30% 37%;
  position:   relative; 

  ion-col{
    width:50%;
    flex:unset;
    &:nth-of-type(2){
      position: relative;
      text-align:center;
      &::after{
        content: "";
        display: block;
        position: absolute;
        background-image: url('../../assets/img/ellipse.png');
        background-size: 100%;
        background-position: top left;
        height: 95px;
        top: 71px;
        left: 0;
        width: 95px;
        z-index: -1;
      }
    }
    ion-slides{
    }
  }
  .texts{
    width:100%;
    max-width: 100%;

    h2{
      font-size:32px;
      p{
        margin: 0;
      }
      div.desc{
        font-size:39px;
        margin:0;
        display: block;
      }
    }

    h3{
      font-size:24px;
    }

    .orange{
      font-size:17px;
      color:var(--ion-color-primary);
      margin:24px auto;
      &>*{
        display: inline-block;
        vertical-align: middle;
      }
       &:hover{
          *{
            text-decoration: underline;
          }
         //color: #fcdb24;
       }
    }
  }

  ion-button{
    margin-top:50px;
    //color:#fff;
    text-transform: none;
    //font-size: 17px;
    //height:50px;
    //width:250px;
    &.mobile{
      display:none;
    }
  }

  &:after{
    content:"";
    display:  block;
    position:   absolute; 
    top: calc(100% - 90px);
    left:   0;
    background-image:   url('../../assets/img/circle.png');
    background-size:cover;
    background-position:  center;
    height:270px;
    width:  190px;
  }

}

#careers{
  padding: 110px var(--pad-thai);
  position:relative; 

  &:before{
    content:"";
    display:  block;
    position:   absolute; 
    top: 130px;
    right:   0;
    background-image:   url('../../assets/img/vector-smart-object.png');
    background-size:cover;
    background-position:  center;
    height:60px;
    width:  230px;
  }

  blockquote{
    font-size: 17px;
    width: 845px;
    display: block;
    margin:0 auto 70px;
    b{
      text-align: center;
      font-size:39px;
      display: block;
      clear: both;
      margin-bottom:10px;
    }
  }


  ion-row{
    ion-col{
        width:33.33%;
        padding: 0 3%;
        flex:unset;
      img{
        height: 70px;
        width: auto;
        object-fit: contain;
        margin:0 auto 40px;
        display: block;
      }

      b{
        font-size:27px;
        text-align:   center;
        padding-bottom:20px;
        display: block;
        //white-space: nowrap;
      }

      p{
        font-size:16.5px;
        text-align: center;
        display: block;
      }
    }
  }

  ion-button{
    display:  block;
    margin:25px auto 0;
    //color:#fff;
    //width: 230px;
    //height: 54px;
    border-radius: 4px;
    text-transform: none;
  }
}
#application-form{
  display: block;
  width: 100%;
  height: 0;
}

#ready-to-apply{
  padding:20px var(--pad-thai) 50px;
  background-image:url('../../assets/img/orange-swash.png');
  background-size: 600px auto;
  background-position: left 0%;
  background-repeat: no-repeat;


  ion-grid{
    ion-row{
      ion-col{
        flex:unset;
        width:50%;

        &:nth-of-type(1){
          padding:15px 100px 85px 10px;
        }
        h2{
          font-size:39px;
        }

        &>p{
          font-size:17px;
          margin:25px auto;
          b{
            display:block;
            font-size:20px;
            margin:0 0 15px 0;
          }

          &.form{
            font-size:15.5px;
            margin-bottom:15px;
          }
        }

        ul{
          padding-left:0;
          width:100%;
          font-weight:bolder;
        }

        div.form{
          i{
            color:var(--ion-color-primary);
            font-style: normal;
            margin:0 3px;
          }
          ion-label{

            overflow: initial;
          }
          ion-select,ion-input{
            height: 37px;
            white-space:normal;
            overflow: visible;
            .select-text{
              white-space: normal;
              line-height: 16px;
            }
          }
          span{
            .fileUpload{
              --border-color:transparent;
              padding:5px;
              ion-label{
                text-align: center;
                color: var(--ion-color-primary);
                background: #fff;
                border: 1px solid var(--ion-color-primary);
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                padding: 15px 0 0 0;
                border-radius: 8px;
                margin: 0;
                cursor: pointer;
              }
              position: relative;
              input[type=file]{
                position: absolute;
                top:0;
                left:0;
                height: 100%;
                width: 100%;
                opacity: 0;
                cursor: pointer;
              }
            }
          }
          div{
            width:50%;
            display:inline-block;
            vertical-align:text-top;


          }

            ion-item{
              padding:5px;
              --background:transparent;

              &.agreement{
                --border-color:transparent;
                ion-checkbox{
                  margin-right:5px;
                  height:25px;
                  width:25px;
                  min-width: 25px;
                }   
              }
            }

          a{
            cursor: pointer;
          }
          ion-label{
            font-size:12.5px;
          } 
          ion-checkbox{
            margin-right:10px;
          }
          ion-button{
            //width: 204px;
            //height: 42px;
            display:block;
            margin:35px auto;
            text-transform: none;
          }
          &>span{
            display: block;
            width:100%;
            margin:10px auto;
          }
        }
      }
    }
  }

  img{
    width:100%;
    &.mobile{
      display:none;
    }
  }
}// end of ready to apply


#blog{
  padding:20px var(--pad-thai);
  position: relative;
  &:before{
    content:"";
    display: block;
    position: absolute;
    background-size: contain;
    right: 45px;
    top:0;
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-image: url("../../assets/img/sparkle-1@2x.png");
    background-position: center;
  }
  &:after{
    content:"";
    display: block;
    position: absolute;
    background-size: cover;
    bottom: 75px;
    left:90px;
    height: 80px;
    width: 76px;
    background-repeat: no-repeat;
    background-image: url("../../assets/img/sparkle-2.png");
    background-position: center;
  }
  blockquote{
    position: relative;
    display: table;
    width: auto;
    margin: auto;
    text-align: center;
    padding:60px 0 40px;
    b{
      font-size:37px;
    }
    p{
      font-size:16px;
    }
  }

  section.news{
    position: relative;
    &:before{
      content: "";
      display: block;
      position: absolute;
      height: 195px;
      width: 195px;
      background-image: url("../../assets/img/circle@2x.png");
      background-size: cover;
      top: -80px;
      left: -80px;
    }
    &>div{
      display:inline-block;
      width:66.66%;
      vertical-align:text-top;
      padding:5px;
      &.main{
        width:33.33%;
        ion-card{
          width:100%;
          ion-card-header{
            padding:20px 20px 0;
          }
          img{
            height:250px;
          }
          span.links{
            div{
              padding:20px 15px;
            }
          }
        }
      }
      ion-card{
        border-radius:9px;
        vertical-align:text-top;
        width:48%;
        display:inline-block;
        margin:5px;
        cursor:pointer;

        &.main{
        }

        img{
          height:115px;
          width:100%;
          object-fit:cover;
        }

        ion-card-header{
          padding:10px 20px;
          font-size:19.5px;
          ion-card-subtitle{
            font-size:12px;
            color:var(--ion-color-primary);
            text-transform:uppercase;
          }
          ion-card-title{
            margin-top:0;
            font-size:23.5px;
          }
        }
        ion-card-content{        
          padding:0 20px 20px;
          font-size:13.5px;
        }
        span.links{
          padding:0 5px;
          display:table;
          width:100%;
          height:42px;
          background-color:var(--ion-color-primary);
          div{
            font-size:12px;
            text-transform:uppercase;
            width:33.33%;
            display:inline-block;
            padding:15px;
            color:#fff;
            white-space: nowrap;
            text-align: right;
            &:first-of-type{
              text-align: left;
            }
            a{
              color:#fff;
              text-decoration: none;
              cursor:pointer;
              &:hover{
                //text-shadow: 0px 0px 5px #607d8b;
                font-weight: bolder;
                //color: #fffe9a;
                color: #fffe9a;
              }
            }
          }
        }
      }
    }
  }

  div.control{
    width: 300px;
    margin: 60px auto 90px;
    text-align: center;
    ion-button{
      text-align: center;
      cursor: pointer;
      //padding:5px;
      margin:0 10px;
      //height: 26px;
      //letter-spacing: 3px;
      border-radius: 4px;
      --background:var(--ion-color-primary);
      --color:#fff;
      width: auto;
      &:hover{
        --background:#fff;
        --color:var(--ion-color-primary);
        box-shadow: 0 0 3px 1px var(--ion-color-primary);
        //border: 2px solid var(--ion-color-primary);
        a{
          //color:#eb983e;
          color:var(--ion-color-primary);
          //text-shadow: 0 0 2px #24b2ca;
          //letter-spacing: 1px;
        }
        
        ion-icon{
          color:var(--ion-color-primary);
          // color:#eb983e;
        } 
      }
      &>*{
        display: inline-block;
        vertical-align: middle;
        //color:var(--ion-color-primary);
        font-weight: bolder;
        font-size:15px;
      }
      a{
        color:#fff;
      }
      ion-icon{
        font-size:18px;
      }

      /* &.disabled{
        cursor:not-allowed;
        &:hover{
          a,ion-icon{
            color:#353535;
          }
        }
        &>*{
          color:#888;
        }
      } */
    }
  }
}// end of blog

#gallery{
  display: block;
  width: 100%;
  height: 140px;
}

#gallery__{
  background-image:url('../../assets/img/orange-wave-bottom.jpg');
  background-size:100% 480px;
  background-position: bottom center;
  background-repeat: no-repeat; 
  padding:25px var(--pad-thai) 105px;
  display:inline-block;
  width:100%;
  h1{
    width: 100%;
    text-align: center;
    margin:40px auto 80px;
    font-size: 39px;
    display: none;
  }

  blockquote{
    position: relative;
    display: table;
    width: auto;
    margin: auto;
    text-align: center;
    padding:0 0 40px;
    b{
      font-size:37px;
    }
    p{
      font-size:16px;
    }
  }

  div.gallery{
    /* background-image:url('../../assets/img/orange-wave-bottom.jpg');
    background-size:100% 480px;
    background-position: bottom center;
    background-repeat: no-repeat; */
    z-index: 2;
    position: relative;
    span.button{
      position: absolute;
      display: block;
      margin: auto;
      // top:0;
      top: calc(50% - 22px);
      z-index:3;
      // bottom:0;
      background:transparent;  
      cursor: pointer;
      &:hover{
        --background:transparent;
        color:inherit;
        box-shadow: none;
      }
      &.disabled{
        cursor: not-allowed;
        ion-icon{
          color:#888;
        }
        &:hover{
          ion-icon{
            color:#353535;
          }
        }
      }
      &:nth-of-type(1){
        left:-44px;
      }
      &:nth-of-type(2){
        right: -44px;
      }
      ion-icon{
        font-size: 44px;
        color:#353535;
      }
    }
    .gallery__design{
      display: block;
      position: relative;
      width: 1090px;
      height: 1px;
      margin: auto;
      max-width: 100%;
      &:after{
        content: "";
        position: absolute;
        top: -45px;
        right: -55px;
        height: 80px;
        width: 80px;
        background-size: contain;
        background-image: url(../../assets/img/ellipse-broken-lines.png);
        transform: rotateZ(105deg);
      }
    }
    div.gallery__track{
      text-align: center;
      overflow: hidden;
      position: relative;
      white-space: nowrap;
      max-width: 1070px;
      display: block;
      margin:0 auto;
      .gallery__field{
        display: block;
        white-space: nowrap;
        position: relative;
       transition: transform 0.5s;
      }

      a{
        ion-icon{
          font-size:27px;
          color:#fff;
        }
        &:hover{
          ion-icon{
            color:var(--ion-color-primary);
          }
        }
      }
      div.gallery__slide{
        white-space: normal;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        height:465px;
        width:350px;
        max-width: calc(calc(100% - 20px) / 3);
        margin:5px 10px;
        cursor: pointer;
        border-radius: 8px;
        &:hover{
          h2, p, span{
            //color:;
            position: absolute;
            //bottom:0;
            right: 0;
            width: 100%;
            //text-shadow: 0 0 3px #000;
            ion-icon{
              color:var(--ion-color-primary);
            }
          }
          p{
            display:none;
          }

          img{
            filter: brightness(0.75);
          }
          span{

          }
          h2{
            bottom: 60px;
            top: initial;
            right: 0;
            // padding: 15px 15%;
            height: 100px;
            width: 100%;
            filter: drop-shadow(2px 2px 3px #333);
          }
          &:after{
            background: linear-gradient(0deg, #222 0%, transparent 60%);
            //background:linear-gradient(0deg, rgba(36,178,202,0.5) 0%, rgba(181,148,13,0.25) 50%, rgba(36,178,202,0.5) 100%);
            // background:linear-gradient(0deg, rgb(230 162 11 / 50%) 0%, rgba(181, 148, 13, 0.25) 50%, rgb(230 162 11 / 50%) 100%);
          }
        }
        &:after{
          content:"";
          position: absolute;
          top:0;
          left: 0;
          height: 100%;
          width: 100%;
          //background:linear-gradient(0deg, rgb(230 173 11 / 89%) 0%, rgb(255 118 0 / 85%) 100%);
          background:linear-gradient(0deg, #ffb400f3 15%, #dc6813d9 70%);
          z-index: 1;
          display: block;
          border-radius: 8px;
        }
        &:first-of-type{
          margin-left:0;
        }
        img{
          border-radius: 8px;
          position: absolute;
          top:0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        h2{
          display: block;
          padding: 0 5% 0;
          position: absolute;
          top:25%;
          font-size:32px;
          color:#fff;
          height: 100px;
          z-index: 2;
          text-transform: uppercase;
          width: 100%;
          font-family: SegoeUIB;
        }
        p{
          display: block;
          padding:0 15%;
          position: absolute;
          font-size: 17px;
          color:#fff;
          height: 100px;
          z-index: 2;
          top:calc(100px + 37%);
          width: 100%;
        }
        span{
          display: block;
          width: 100%;
          text-align:right;
          bottom:25px;
          height: 35px;
          position: absolute;
          padding:0 5%;
          z-index: 2;
          ion-icon{
            font-size: 18px;
            color: teal;
            background-color: #fff;
            border-radius: 100%;
            text-align: center;
            padding: 1px 0px 1px 2.5px;
            display: inline-block;
            height: 18px;
            width: 18px;
              .icon-inner,svg{
                padding-left:0.5px;
              }

          }
        }
      }
    }
  }

  img.wave-bottom{
    display: none;
  }
}//end gallery


#contact-us{
  padding:20px var(--pad-thai);
  background:var(--ion-color-secondary);
  .head {
    display: inline-block;
    position: relative;
    width: 40%;
    vertical-align: text-top;
    padding: 0 0 45px 7%;
    font-size: 38.5px;
    color: #fff;
  }

  .contact {
    position: relative;
    display: inline-block;
    width: 60%;
    vertical-align: text-top;
    padding: 0 35px 45px;
    &>div{
      display: inline-block;
      vertical-align: text-top;
      width: 50%;
      color:#fff;
      padding-left:10%;
      height: 140px;
    }
    span.others{
      display: block;
      &>*{
        display: inline-block;
        vertical-align: text-bottom;
        width: 50%;
        padding-left:10%;
        color:#fff;

        span{
          img{
            display: inline-block;
            vertical-align: middle;
            margin-right:15px;
          }
          b{
            display: inline-block;
            vertical-align: middle;
            font-size:16px;
          }
        }

        a{
          color: #fff;
          display: block;
          text-decoration: none;
          font-size: 14px;
          cursor: pointer;
          &:hover{ 
            text-decoration: underline;
            //text-shadow: 0px 0px 5px #607d8b;
            font-weight: bolder;
            color: #fffe9a;
          }
        }    

      }
    }
    .callmail{
      span{
        img{
          display: inline-block;
          vertical-align: middle;
          margin-right:15px;
        }
        b{
          display: inline-block;
          vertical-align: middle;
          font-size:16px;
        }
      }
      ul{
        padding: 0;
        margin-bottom: 0;
        li{
          font-size:14px;
          display: block;
          white-space: nowrap;
          a{
            color:#fff;
            text-decoration: none;
            cursor: pointer;
            &#kenshin{
              &:after{
                content:"";
                display: block;
              }
            }
            &:hover{ 
              text-decoration: underline;
              //text-shadow: 0px 0px 5px #607d8b;
              font-weight: bolder;
              color: #fffe9a;
            }
            &:nth-of-type(3):before{
              content:"Davao:";
              display: inline-block;
              opacity: 0;
            }
          }
        }
      }
      &>a{
        display: block;
        padding-top:5px;
        color:#fff;
        font-size:14px;
        text-decoration: none;
        cursor: pointer;
        &:hover{ 
          text-decoration: underline;
          //text-shadow: 0px 0px 5px #607d8b;
          font-weight: bolder;
          color: #fffe9a;
        }
      }
    }

    .social{
      ul{
        padding: 0;
        margin-bottom:0;
        li{
          display: block;
          a{
            display: inline-block;            
            background-repeat: no-repeat;
            background-position: left top;
            background-size: 29px 29px;
            height: 29px;
            cursor: pointer;
            &.fb{
              background-image:url('../../assets/img/fb.svg');
            }
            &.li{
              background-image:url('../../assets/img/linkedin.svg');
            }
            &.insta{
              background-image:url('../../assets/img/ig.svg');
            }
            &.tik{
              background-image:url('../../assets/img/tiktok.svg');
            }
            &.yt{
              background-image:url('../../assets/img/youtube.svg');
            }
            &.twit{
              background-image:url('../../assets/img/twitter.svg');
            } 
            svg{
              opacity: 0;
            }
            &:hover{ 
              filter: brightness(77%) sepia(90%) hue-rotate(12deg) saturate(195%);// drop-shadow(0px 3px 1px #555);

             /*  &.fb{
                background-image:url('../../assets/img/facebook-yellow.png');
              }
              &.li{
                background-image:url('../../assets/img/linkedin-yellow.png');
              }
              &.insta{
                background-image:url('../../assets/img/ig-yellow.png');
              }
              &.tik{
                background-image:url('../../assets/img/tik-tok-yellow.png');
              }
              &.yt{
                background-image:url('../../assets/img/youtube-yellow.png');
              }
              &.twit{
                background-image:url('../../assets/img/twitter-yellow.png');
              } */
              //text-shadow: 0px 0px 5px #607d8b;
              font-weight: bolder;
              color: #fffe9a;
            }
          }
          svg{
            height: 29px;
            width: 29px;
            object-fit: contain;
            object-position: center;
            margin-right:19px;
            margin-bottom:15px;
            //opacity: 0;
          }
        }
      }
    }
    
  }

  hr{
    background:#fff;
    margin: 0;
  }

  .foot{
    padding:25px 0;
    b {
      vertical-align: middle;
      display: inline-block;
      color: #fff;
      font-size: 15px;
      margin-left: 30px;
    }
    img {
      width: 66px;
      height: 30px;
      object-fit: contain;
      display: inline-block;
      vertical-align: middle;
    }
    li{
      a{
      }
    }
  }

}//end of contact-us


  ion-button{
    background:var(--ion-color-primary);
    --ripple-color: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
    color:#fff;
    border-radius: 4px;
    //text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
    width: 200px;
    height: 45px;
    &:hover{
      --background:#fff;
      color:var(--ion-color-primary);
      box-shadow: 0 0 2px 2px var(--ion-color-primary);
    }
  }
}//end of host