<ion-header translucent>
  <ion-toolbar>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [scrollEvents]="true" (window:resize)="onresize($event)">
<!-- <app-header></app-header> -->
<section id="body" #body>

  <section class="benefits"  *ngIf="benefits.length > 0">
    <h1 class="title">Benefits search results for '{{search}}' ...</h1>
    <div class="content">
      <ul>
        <li *ngFor="let b of benefits">
          <a (click)="toPage('benefits',1)">
          <span>
            <img src="{{b?.img}}"/>
            <b [innerHTML]="b?.text"></b>
            <p [innerHTML]="b?.subtext"></p>
          </span>
          </a>
        </li>
      </ul>
    </div>
  <br/>
  </section>

  <section class="jobs"  *ngIf="jobs.length > 0">
    <h1 class="title">Careers search results for '{{search}}' ...</h1>
    <div class="content">
      <ul>
        <li *ngFor="let b of jobs">
          <a (click)="toPage('careers')">
          <p>Title: <b [innerHTML]="b?.title"></b></p>
          <blockquote  [innerHTML]="b?.desc"></blockquote>
          <div [innerHTML]="b?.qual"></div>
          <p>Location: <b [innerHTML]="b?.location"></b></p>
          <p>Role: <b [innerHTML]="b?.role"></b></p>
          <!-- <p>Openings: <b [innerHTML]=""></b></p> -->
          </a>
        </li>
      </ul>
    </div>
  <br/>
  </section>

  <section class="gallery"  *ngIf="gallery.length > 0">
    <h1 class="title">Gallery search results for '{{search}}' ...</h1>
    <div class="content">
      <ul class="whitesp">
        <li *ngFor="let b of gallery">
          <a (click)="toPage('gallery',1)">
          <ion-card>
            <img src="{{b?.img}}"/>
            <ion-card-header>
              <ion-card-title><b [innerHTML]="b?.title"></b></ion-card-title>
              <ion-card-subtitle><p [innerHTML]="b?.details"></p></ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <b>{{b?.link}}</b>
            </ion-card-content>
          </ion-card>
          </a>
        </li>
      </ul>
    </div>
  <br/>
  </section>
  
  <section class="blogs"  *ngIf="blogs.length > 0">
    <h1 class="title">Blogs search results for '{{search}}' ...</h1>
    <div class="content">
      <ul class="whitesp">
        <li *ngFor="let b of blogs">
          <a (click)="toPage('blog',1)">
          <ion-card>
            <img src="{{b?.img}}"/>
            <ion-card-header>
              <ion-card-title><b [innerHTML]="b?.head"></b></ion-card-title>
              <ion-card-subtitle><p [innerHTML]="b?.sub"></p></ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <div class="text" [innerHTML]="b?.text | slice:0:700"></div>
              <b [innerHTML]="b?.date"></b>
            </ion-card-content>
          </ion-card>
          </a>
        </li>
      </ul>
    </div>
  <br/>
  </section>
  
  <section class="sites"  *ngIf="sites.length > 0">
    <h1 class="title">Sites search results for '{{search}}' ...</h1>
    <div class="content">
      <ul class="whitesp">
        <li *ngFor="let b of sites">
          <a (click)="toPage('our-sites',1)">
          <ion-card>
            <img src="{{b?.img}}"/>
            <ion-card-header>
              <ion-card-title><b [innerHTML]="b?.title"></b></ion-card-title>
              <ion-card-subtitle><p [innerHTML]="b?.address"></p></ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <div class="text" [innerHTML]="b?.desc | slice:0:700"></div>
            </ion-card-content>
          </ion-card>
          </a>
        </li>
      </ul>
    </div>
  <br/>
  </section>

  <h1 *ngIf="blogs.length < 1 && jobs.length < 1 && gallery.length < 1 && benefits.length < 1"> No results found. </h1>
</section>
</ion-content>