.mobile-view{
  :host{
    ion-header{
      ion-toolbar{
        ion-buttons{
          ion-button{
            --color:inherit;
          }
        }
      }
    }
    
    section#body{
      padding:0 var(--mobile-pad) 30px;
      .title{
        font-size: 20px;
      }
    }
  }
}

:host{
  ion-header{
    ion-toolbar{
      --background:var(--ion-color-primary);
      --color:#fff;
    }
  }
  section#body{
    padding:0 var(--pad-thai) 30px;
    position:relative;
    margin:0;
    display:block;
    //padding:0 var(--pad-thai);
    //background-color:#f3f1f1;
    background-color:#fff;


    .title{
      color:var(--ion-color-primary);
      //text-transform: uppercase;
      font-size: 24px;
      width: 100%;
      text-align: center;
      padding:30px 0;
    }



    .content{
      font-family: inherit;
      white-space: normal;
      
      &>p{
        margin-bottom:0;
      }

      ul{

        &.whitesp{
          li{
            width: auto;
            display: inline-block;
            vertical-align: text-top;
          }
        }
        li{
          a{
            color: initial;
            cursor: pointer;
            border-bottom:1px solid lightgray;
            display: block;
          }
          b{
            //color:var(--ion-color-primary);
            //--color:var(--ion-color-primary);
          }

          ion-card{
            max-width:300px;
            img{
              display: block;
              margin:5px auto;
            }
            *{
              text-align: center;
            }
          }
          img{
            max-width: 250px;
            max-height: 165px;
            object-fit: cover;
            object-position: center top;
          }
          &>span{
            white-space: nowrap;
            &>*{
              vertical-align: middle;
              display: inline-block;
              margin:0 5px;
            }
            b{
              //color:var(--ion-color-primary);
              //--color:var(--ion-color-primary);
            }
          }
        }
      }
    }

  }
}
